:root{
    --text:#3cb427;
    --background:rgb(255, 255, 255);
    --primary: #010101;
    --secondary: #b1b1b1;
    --accent: #c0d7ca;
    --outline:rgb(182, 250, 183);
    --head:rgb(17, 94, 18);
    --h3:rgb(37, 73, 12);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
}
h3{
    color:var(--h3)
}
header{
    display: flex;
    justify-content: space-around;
    background-color: var(--background);
    width: 100%;
    position: fixed;
    border:1px solid var(--accent);
}
.logo{
    font-size: 30px;
    color:var(--text);
}
.header-child{
    padding:20px;
}
.navlink{
    display: flex;
    gap:30px;
}
a{
    text-decoration: none;
    color:var(--primary);
    font-weight: bold;
    font-size: 20px;
}
#Home{
    padding:130px 40px 40px 120px;
}
#About{
    justify-items: center;
    padding:20px 40px 40px 40px;
    height:auto;
    max-height: 900px;

}
#ab-p{
    font-size: larger;
    line-height: 30px;
}
footer{
    background-color: var(--secondary);
    justify-items: center;
    padding: 20px;
}
img{
    width: 30px;
    height: 30px;;
}
.connect{
    display: flex;
    gap: 20px;;
}
.skill-container{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.sk{
    border: 3px solid var(--outline);
    padding: 12px;
}
.edu{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.edu-container{
    border: 3px solid var(--outline);
    padding: 12px;
    
}
.proj{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(1,1fr);
    gap:30px;
}
.proj-container{
    border: 3px solid var(--outline);
    padding: 12px;
}
section h1{
    color: var(--head);
}
.ts-container{
    display: flex;
    gap:10px;
}
#Projects h4{
    padding:5px;
    border:2px solid  var(--secondary);
    border-radius: 5px;
    background-color: var(--secondary);

}
a:hover{
    color:var(--secondary)
}
img:hover{
    width: 35px;
     height: 35px; 
}

